{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jsgrid.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jsgrid-theme.min.css') }}">
<style type="text/css">
    .jsgrid-grid-header, .jsgrid-grid-body {
        overflow: auto;
    }
</style>
<title>Rules</title>
{% endblock %}

{% block body %}
<h1 class="page-header">规则设置</h1>
<div id="rules"></div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/jsgrid.min.js') }}"></script>
<script>
    $('#rules_page').addClass('active');

    $(function() {

        $('#rules').jsGrid({
            width: '100%',
            inserting: true,
            editing: true,
            sorting: true,
            paging: true,
            pageLoading: true,
            fields: [
                { name: 'id', title: '规则编号', width: 40 },
                { name: 'protocol', title: '规则协议', type: 'select', items: [{name: '', title: '未指定'}, {name: 'tcp', title: 'TCP'}, {name: 'udp', title: 'UDP'}, {name: 'http', title: 'HTTP'}, {name: 'dns', title: 'DNS'}, {name: 'pptp', title: 'PPTP'}, {name: 'ipsec', title: 'IPSec'}], valueField: 'name', textField: 'title', width: 50 },
                { name: 'saddr', title: '源IP', type: 'text', width: 80 },
                { name: 'sport', title: '源端口', type: 'number', min: '0', max: '65535', step: '1', width: 50 },
                { name: 'daddr', title: '目的IP', type: 'text', width: 80 },
                { name: 'dport', title: '目的端口', type: 'number', min: '0', max: '65535', step: '1', width: 50 },
                { name: 'action', title: '中间行为', type: 'select', items: [{name: '', title: '未指定'}, {name: 'confuse', title: 'DNS劫持'}, {name: 'reject', title: '丢弃'}, {name: 'redirect', title: '跳转'}, {name: 'mirror', title: '镜像'},], valueField: 'name', textField: 'title', width: 50 },
                { name: 'which', title: '匹配类型', type: 'select', items: [{name: '', title: '未指定'}, {name: 'url', title: 'URL'}, {name: 'host', title: 'HOST'}], valueField: 'name', textField: 'title', width: 50 },
                { name: 'match', title: '匹配方式', type: 'select', items: [{name: '', title: '未指定'}, {name: 'match', title: '完全匹配'}, {name: 'regex', title: '正则匹配'}], valueField: 'name', textField: 'title', width: 50 },
                { name: 'payload', title: '匹配规则', type: 'text' },
                { name: 'params', title: '行为规则', type: 'textarea' },
                { type: 'control', editButton: false, modeSwitchButton: false }
            ],
            autoload: true,
            controller: {
                loadData: function(filter) {
                    return $.ajax({
                        type: 'GET',
                        url: '{{ url_for('rules_get') }}',
                        data: filter
                    });
                },
                insertItem: function(item) {
                    console.log(item);
                    return $.ajax({
                        type: 'POST',
                        url: '{{ url_for('rules_add') }}',
                        data: item
                    });
                },
                updateItem: function(item) {
                    console.log(item);
                    return $.ajax({
                        type: 'PUT',
                        url: '{{ url_for('rules_put') }}',
                        data: item
                    });
                },
                deleteItem: function(item) {
                    return $.ajax({
                        type: 'DELETE',
                        url: '{{ url_for('rules_del') }}',
                        data: item
                    });
                }
            },
            pageSize: 50,
            pageButtonCount: 5,
            pagerFormat: '页码: {first} {pages} {last}    第 {pageIndex} 页/共 {pageCount} 页',
            pageFirstText: '首页',
            pageLastText: '尾页',
            noDataContent: '未查询到结果',
            deleteConfirm: '确认删除此条规则?',
            loadMessage: '正在载入,请稍候……'
        });

    });
</script>
{% endblock %}
